DATABASE_NAME=millete_db
DATABASE_USER=postgres
DATABASE_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_PORT=5432

APP_PORT=8080
FRONTEND_PORT=3000

JASYPT_ENCRYPTOR_PASSWORD=CHANGE_ME_JASYPT
JWT_SECRET=CHANGE_ME_64_CHARS_BASE64

SPRING_PROFILES_ACTIVE=prod
LOG_LEVEL=INFO

VITE_API_URL=/api/v1
VITE_APP_VERSION=0.1.0